$font-name : 'Lato';
$primary-bg-color : #445E70;
$secondary-bg-color : #E6E7E8;
$white: #FFFFFF;
$text-black: #4A4A4A;
$text-blue: #A2C9CC;
$black:#000000;
$label-color: #B5B7BA;
$light: 100;
$normal: 300;
$bold: 400;
$semibold:600;